<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>

	<body class="bs-sidebarpage function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
<style>
{$containerCss}
</style>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
			


		</div>
	</nav>

	

	<div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
			{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default">				<div class="container-fluid">							



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse collapse " aria-expanded="false" style="height: 1px;">												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}






{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="bookmarks_users_search.php" {$advsearchlink_attrs}>Busca Avancada</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}"></a></li>
		{END searchPanelTopButtons}	
				<li role="separator" class="divider"></li>	
		
				
		<li role="separator" class="divider"></li>	

						{BEGIN Portuguese(Brazil)LANGLINK}
				<li><a href="#" data-lang="Portuguese(Brazil)" class="rnr-langlink">
					{BEGIN Portuguese(Brazil)LANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END Portuguese(Brazil)LANGLINK_ACTIVE}
					Português(Brasil)</a></li>
				{END Portuguese(Brazil)LANGLINK}
		
	</ul>  
</div>

{END more_list}



</div>
{END container_more}








{BEGIN container_search}
<div {$search_chiddenattr} data-pageid="{$pageid}" data-container="search" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar Todos">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_search}




												</div>						{END container_menu_1}


										</div>											</nav>{END container_menu}
		</nav>
	</div>
	<div class="row wrapper border-bottom white-bg page-heading">
		

{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="    "> 




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class="   col-md-6 "> 

{BEGIN newrecord_controls_block}
	
	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
	
	</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class="  text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	Displaying {$firstrecord} - {$lastrecord} of {$records_found}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}



</div>
{END container_gridinfo}






</div>
{END container_gridcontrols}



{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}


	</div>
	
<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
	

		
<div class="container-fluid">
	

{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=user]:before {
		content: "{$label bookmarks_users user}";
	}
	.bs-gridcell[data-field=Listar]:before {
		content: "{$label bookmarks_users Listar}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

									
																		
									{BEGIN Listar_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Listar_class}">
									{BEGIN Listar_fieldheader}
																				<span {$Listar_orderlinkattrs}>
											{$label bookmarks_users Listar}
										</span>
									{END Listar_fieldheader}
									</th>
									{END Listar_fieldheadercolumn}
									
									
									
									
									{BEGIN user_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$user_class}">
									{BEGIN user_fieldheader}
																				<span {$user_orderlinkattrs}>
											{$label bookmarks_users user}
										</span>
									{END user_fieldheader}
									</th>
									{END user_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
	
	
	
		</td>	
	{END listIcons_column}	

	
	

	{BEGIN Listar_fieldcolumn}
	<td class="bs-gridcell {$Listar_class}" {$Listar_style} data-field=Listar>
		{$Listar_value}
	</td>
{END Listar_fieldcolumn}


	{BEGIN user_fieldcolumn}
	<td class="bs-gridcell {$user_class}" {$user_style} data-field=user>
		{$user_value}
	</td>
{END user_fieldcolumn}

	<!--<td class="rnr-edge" {$recordattrs}>&nbsp;</td>-->
	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


</div>
	

		{$footer}
	{END body}
	</body>
</html>
